body{
  background-color: #f5f5f5;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  text-align: center;
}
#root{
  text-align: center;
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
:focus {
  outline: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button::-moz-focus-inner {
  border: none;
}

h1 {
  position: absolute;
  top: -180px;
  width: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}
.EditingTask{
  width: calc(100% - 43px);
  padding: 12px 16px;
  margin: 0 0 0 43px;
  border-bottom: none;
}
.NewTaskForm, .EditingTask {
  position: relative;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.NewTaskForm {
  margin: 0;
  width: 100%;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.task{
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}
.todo-list .task:last-child {
  border-bottom: none;
}
.EditingTask{
  border-bottom: none;
  padding: 12px 16px;
  margin: 0 0 0 43px;
}
.task .toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  appearance: none;
  cursor: pointer;
}
.todo-list .task .toggle {
  opacity: 0;
}

.todo-list .task .toggle + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list .task .toggle:checked + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}
.todo-list .task label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 85px 15px 60px;
}
.todo-list .task label .description {
  word-break: break-all;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}
.todo-list:first-child .description{
  color: #cdcdcd;
  text-decoration: line-through;
}
.todo-list .task .icon {
  position: absolute;
  top: 0;
  bottom: -3px;
  width: 30px;
  height: 40px;
  font-size: 34px;
  color: #cc9a9a;
  margin: auto 0 11px;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.todo-list .task .icon:hover {
  color: #af5b5e;
}

.todo-list .task .icon-destroy {
  right: 10px;
}

.todo-list .task .icon-destroy:after {
  content: '×';
}

.todo-list .task .icon-edit {
  font-size: 19px;
  right: 45px;
}

.todo-list .task .icon-edit:after {
  content: '✎';
}